:root{
    --width: 45vw;
}

*{
    margin: 0;
    padding: 0;
}

#game{
    width: 100vw;
    height: 100vh;
    margin: auto;
    border: 1px solid black;
    position: relative;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
#btn{
    font-size: 2rem;
    margin: 1rem 420px;
    padding: 0.5rem 2rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    
    background-color: lightgreen;
    
}
#btn:active{
    background-color: red;
}
.slider{
 
    height: 35px;
    width: 50%;
    background: #EFE93B;
    background: -webkit-linear-gradient(top left, #EFE93B, #E2D93F);
    background: -moz-linear-gradient(top left, #EFE93B, #E2D93F);
    background: linear-gradient(to bottom right, #EFE93B, #E2D93F);
    position: absolute;
    bottom: 0px;    
}

.animate{
    animation: slide 4s infinite linear;
}
@keyframes slide{
    0%{left:0px}
    50%{left:var(--width)}
    100%{left:0px}
}